
/* Title section */
.vc-name {
  border-bottom: 1px solid var(--bs-gray-400);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.vc-name svg {
  width: 1em;
  height: 1em;
}

/* Info section */
.vc-info figure {
  margin: 1em 3em;
}

.vc-info figcaption {
  font-size: 0.8em;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5rem;
}

.vc-info figcaption > span {
  display: block;
  font-size: 0.8em;
  font-style: italic;
}

.vc-info p {
  margin: 1em 0;
  line-height: 1.5;
}


/* Details / Accordion */

.vc-details-list svg,
.vc-gallery svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  fill: black;
}

.vc-details-list summary {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  padding-left: 0.75rem;
}

/* hide default marker */
.vc-details-list summary::marker,
.vc-details-list summary::-webkit-details-marker {
  display: none;
}

/* custom arrow */
.vc-details-list summary::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../images/arrow.svg");
  background-size: 1.25rem 1.25rem;
  background-repeat: no-repeat;
}

/* rotate arrow when open */
.vc-details-list details[open] > summary::after {
  transform: rotate(180deg);
}

/* accordion spacing */
.vc-details-list details {
  border-bottom: 1px solid var(--bs-gray-400);
  padding: 0.5em 0;
}

/* fix icon alignment */
.vc-details-list summary svg {
  flex-shrink: 0;
}

/* Amenities */

#vcAmenities ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#vcAmenities li {
  margin-bottom: 1em;
}

/* Gallery */

.vc-gallery > h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.vc-gallery ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.vc-gallery img {
  width: 265px;
  height: 265px;
  object-fit: cover;
  object-position: center;
}

/*  Contact section */

#vcContact section {
  margin-bottom: 1em;
}

#vcContact h3 {
  font-size: 1rem;
  margin-bottom: 0.5em;
}

#vcContact a {
  color: inherit;
  text-decoration: underline;
}